:root {
  font-family: Bahnschrift, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-degrade-blue{
  background: linear-gradient(to right, #4c8fc6, #1b3346);
  color: #FFFFFF;
  border-radius: 2px;
  border: white;
}

.btn-degrade-blue:hover{
  background: linear-gradient(to right, #1b3346, #4c8fc6);
  color: #FFFFFF;
  border: 
}